.hero {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: left;
  padding: 4rem 0;
  margin-top: 2rem;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  width: 100%;
  padding: 0 3rem;
}

.hero-left {
  flex: 1;
  max-width: 800px;
  margin-left: 150px;
}

.hero-right {
  flex: 1;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3rem 2rem;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 150px;
}

.search-container {
  max-width: 950px;
}

.search-input-wrapper {
  display: flex;
  width: 100%;
}

.search-container input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 25px;
  background-color: var(--widget-bg);
  color: var(--text-primary);
}

.three-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  gap: 2rem;
  margin: 0 auto;
  max-width: 2000px;
  padding: 0 2rem;
}

.column {
  background-color: var(--widget-bg);
  padding: 2rem;
  border-radius: 15px;
  min-height: 300px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &#rules-column {
    grid-column: 3;
  }

  &#about-column:hover,
  &#rules-column:hover {
    background-color: var(--widget-bg-lighter);
  }
}
