@use "sass:color";
@use '../variables' as *;
@use '../mixins' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-sm $spacing-md;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  @include glass-effect;

  &-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    
    span {
      font-weight: 300;
    }
  }

  &-links {
    display: flex;
    gap: $spacing-md;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      
      &:hover {
        color: color.adjust($primary-color, $lightness: -10%);
      }
    }

    .discord-icon {
      width: 24px;
      height: 24px;
    }
  }
}
