@use 'variables' as *;

.app {
  min-height: 100vh;
  background: url('/BG1.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: 
      linear-gradient(to top, rgba(82, 0, 19, 0.6) 0%, rgba(0, 0, 0, 0.3) 60%), rgba(12, 15, 21, 0.5);
  }
}

.main-content {
  position: relative;
  z-index: 1;
  padding: 6rem $spacing-md $spacing-md;
  color: white;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
